.noDecor {
    text-decoration: none;
}
.updateButtons {
    position: fixed;
    top: 40%;
    right: 0px;
}
.threadButtons {
    background:none;
    color: BBB;
    text-decoration: none;
    border-bottom: 2px solid silver;
    margin-bottom: 6px;
}
.noDecor:hover {
    color: silver;
}
